<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                    <form class="form-signin" method="POST" action="/">

                        <div class="wrap-input100 validate-input" data-validate="Username is required">
                            <span class="label-input100">Username</span>
                            <input class="input100" type="text" name="Username" placeholder="Username">
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Password is required">
                            <span class="label-input100">Password</span>
                            <input class="input100" type="password" name="Password" placeholder="Password">
                            <span class="focus-input100"></span>
                        </div>

                        <div class="custom-control custom-checkbox mb-3">
                            <label class="custom-control-label" for="customCheck1">Remember password ?</label>
                        </div>
                        <input type="checkbox" checked data-toggle="toggle">
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign
                            in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>