<html>

<head>
    <link rel="stylesheet" href="/stylesheets/all.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/login.css">

    <!-- <%-defineContent('style')%> -->

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome-free/css/fontawesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/util.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <!--===============================================================================================-->

</head>

<body>
    <%-body%>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>

    <!-- <%-defineContent('script')%> -->

    <!--===============================================================================================-->
    <script src="/stylesheets/jquery/jquery.js"></script>
    <!--===============================================================================================-->
    <script src="/stylesheets/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/stylesheets/bootstrap/js/popper.js"></script>
    <script src="/stylesheets/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/stylesheets/select2/select2.min.js"></script>
    <script>
        $(".selection-2").select2({
            minimumResultsForSearch: 20,
            dropdownParent: $('#dropDownSelect1')
        });
    </script>
    <!--===============================================================================================-->
    <script src="/stylesheets/daterangepicker/moment.min.js"></script>
    <script src="/stylesheets/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="/stylesheets/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="/stylesheets/signup.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
</body>

</html>