.ck-editor__editable.ck-editor__editable_inline {
    min-height: 500px;
}

.featured-img-dimension{
  min-height: 192px;
  min-width: 200px;
}

.featured-img-size{
  max-height: 192px;
  width: auto;
}

.parent-button{
  font-size: 10px;
}

.center-button{
  margin: auto;
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.user-icon{
  color: #f0f0f0;
  margin-top: 8px;
  margin-left: 8px;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}